body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

.option {
  display: block;
  margin: 10px auto;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.2s;
}