body { 
  font-family: Arial; 
  text-align: center; 
  margin-top: 50px; 
}

.option {
  display: block;
  margin: 10px auto;
  padding: 30px 30px;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid #333;
  transition: background-color 0.2s, background 1.5s;
  border-radius: 500px;
  background: linear-gradient(
  to bottom,
    #5dffcc 0%,
    #2eccaa 45%,
    #1f8f8b 100%
  );
}

.option:hover{
  background: linear-gradient(
    to bottom,
      #5dffcc 0%,
      #2eccaa 45%,
      #12514f 100%
  );
}