body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

#container {
  width: 80%;
  height: 10%;
  position: absolute;
  top: 60%;
  border: 5px solid gray;
  font-size: 28px;
  font-weight: bold;
  color: white;
  cursor: default;
  box-shadow:
    inset 0 2px 6px rgba(255,255,255,0.4),
    inset 0 -3px 6px rgba(0,0,0,0.4),
    0 0 8px rgba(107, 110, 111, 0.6);
  text-shadow: 0 2px 2px rgba(0,0,0,0.6);
  padding: 10px 50px;
  background: linear-gradient(
    to bottom,
    #4fd2ff 0%,
    #1c9ed6 45%,
    #0a5f8a 100%
  );
  border-radius: 6px;
}

.split-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #000000;
  z-index: 3;
}

.last-part {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  pointer-events: none;
  z-index: 2;
}

.color-block {
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #7c140d, #b41919); /* lineární červený gradient */
  z-index: 1;
}
