body {
  font-family: Arial;
}

.center{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: -10;
}

.time {
  font-size: 48px;
  font-weight: bold;
  border: solid 5px gray;
  padding: 3px 12px;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    red 0%,
    red 40%,
    rgb(0, 255, 166) 50%,
    red 60%,
    red 100%
  );


}

.display.money {
  padding: 10px 50px;
  background: linear-gradient(
    to bottom,
    #4fd2ff 0%,
    #1c9ed6 45%,
    #0a5f8a 100%
  );
}